# Байт-код Python
__pycache__/
*.py[cod]
.mypy_cache
.pytest_cache


# Виртуальное окружение
venv/
.venv/

# Файлы IDE
.idea/
.vscode/

# Служебные файлы ОС
.DS_Store
Thumbs.db

# Локальная база данных и её служебные файлы
*.sqlite3
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm
